/*************************** CSS RESET ***************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*************************** GENERIC ELEMENTS ***************************/
body {
    background-color: #fafafa;

    font-family: 'Shadows Into Light', Arial, Helvetica, sans-serif ;
    line-height: 1.6;

    min-height: 200vh;
}

/*************************** INTRO SCREEN ***************************/
.intro {
    background-image: url(images/leaves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    width: 100vw; /* vh - Viewport Width */
    width: auto;

    height: 100vh; /* vh - Viewport Height */

    display: flex;

    position: relative;
z-index: 100;
}

.intro-container {
    background-color: rgba(0, 0, 0, 0.5);
    color:#fafafa;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width:  25%;

    align-items: center;
    text-align: center;

    padding: 20px;
    margin: auto;
}

.intro h1 {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.intro p {
    line-height: 2;
}

/*************************** CARD ***************************/

.card {
    display: block; /* Turns the link into a box */

    color: black;
    text-decoration: none;
}
.card-image {
    height: 500px;
    overflow: hidden; /* Hides the excess content */
}
.card img {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition-property: transform; /* only trasform will animate */
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 1.5em; /* 1.2x is the default font size but due to this text it must be bigger to understand */
}

/* Change the image when we hover over the link */
.card:hover img {

transform: scale(1.2);

transition-duration: 10s;
transition-timing-function: linear;
}

/*************************** CONTAINER ***************************/
.container {
    max-width: 1280px;

    margin: auto;
}

/*************************** GRID LAYOUT ***************************/
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.two-colums .card {
width: calc((100% - 50px) / 2);
}

.three-colums .card {
    width: calc((100% - 100px) / 3);
    }

/*************************** MAIN CONTENT ***************************/
.main-content {
    margin-top: 100px;
}

.vertical-title {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;

transform-origin: 0 0;  /* rotate from the top left */
transform : rotate(90deg) translateY(5px);

position: absolute;
}

/*************************** FOOTER ***************************/

.website-footer {

background-color: rgba(221, 221, 221, 0.5);

    padding: 50px;
    
}

.website-footer .container {
    display: flex;
    flex-wrap: wrap;
}

.website-footer .summary {
    width: 33%;
}

.footer-links {
list-style: none;

margin-left: auto;

columns: 2;
gap: 50px;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.website-footer .copyright {
    width: 100%;

    margin-top: 50px;

    text-align: right;
}

/*************************** NAVIGATION ***************************/

.navbar {
    border-color: azure;
    background-color: #fafafa;
    border-style: solid;
    /* cancels out off borders */
    border-width: 0;
    border-bottom-width: 1px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    position: fixed;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-decoration: none;
    display: block;
}

.navbar-brand {
    font-family: 'Special Elite', Georgia, 'Times New Roman', Times, serif;
    /* scales the font by 150% of the orginal size */
    font-size: 1.5em;

    align-content: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav .nav-item {
    margin-top: 10px;

}
.navbar-nav .nav-link {
    /* this means top/bottom left/right */
    padding: 30px 20px;
}
